# Virtual Environment
.venv/

.qwen/

dataset/words/words.zip

SDS_BISINDO_v2.0.md

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Environment
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/


# OS
Thumbs.db
.DS_Store